<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset='utf-8'>
    <!-- <link rel="stylesheet" href="style.css" media="screen"> --> -->
    <style>
    .x0, .x1, .x2 {
      width: 40px;
      height: 40px;
      border: black 1px solid;
      float:left;
      /*position: absolute;*/
    }
    .x0 {
      border-top: none;

    }
    .x2 {
      border-bottom: none;
    }
    .y0 {
      border-left: none;
    }
    .y2 {
      border-right: none;
    }
    #container {
      width: 125px ;
      height: 125px;
    }

  </style>
  </head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <body>

    <%- token %>

    <div id='container'> </div>
    <script>
     var body = document.body;
     class Board {
       constructor() {
         for(let i = 0; i < 3; i++) {
          for(let j = 0; j < 3; j++) {
            var s = document.createElement('div');
            document.getElementById('container').appendChild(s);
            this.x = i;
            this.y = j;
            s.classList.add('x' + i.toString());
            s.classList.add('y' + j.toString());
            s.classList.add('material-icons')
            s.dataset.player;
            s.dataset.pressed = 0;
            s.addEventListener("click", function(event) {
            if(event.target.dataset.pressed == 0) {
            event.target.innerHTML = s.dataset.status == "o" ? 'close' : 'close';
            event.target.dataset.pressed = 1;
            }
            else {
              event.target.innerHTML =  " ";
              event.target.dataset.pressed = 0;
            }
          });
        }
      }
      }


     }
     var a = new Board();


    </script>
  </body>
</html>
